
events {}
http {

    server {
        listen 80;
        
        location ~ /.well-known/acme-challenge {
            default_type "text/plain";
            allow all;
            root /certbot;
        }

        include /etc/nginx/locations.conf;

    }
}